body{
	margin: 0 auto;
	width: 90%;
	background-color: #C3DEE8;
}

.jumbotron{
	background-color: #9CB1B9;
}

.jumbotron img{
	width: 80%;
	max-height: 400px;
}

.inventions{
	margin: 0 auto;
	width: 80%
}

.inventions h6, footer{
	font-weight: 800;
}