body {
	background: #30476e;
	background-size: 100% 100%;
	width: 100%;
}


#headlogo{
	width: 150%;
	height: 180%;
	border: white solid 2px;
	border-radius: 5px;
}

#login-btn{
	margin-right: 1em;
}

#cover-photo{
	width: 100%;
	min-height: 250px;
}

.navbar{
	margin-bottom: 0;
}

.white-bg{
	background-color: white;
	width: 0 auto;
}

.blue-bg{
	background-color: #30476e;
}

.white-text{
	color: white;
}

.light-color img{
	max-height: 150px;
}

.light-color:hover{
	background-color: #005b96;
}

h1,h5, h1 small{
	color: #286090;
	font-weight: bold;
}

.full-width li{
	width: 33.33%;
	text-transform: uppercase;
	font-weight: bold;
	background-color: #337ab7;
}

.full-width li a{
	color: white;
}

.top-bottom-margin{
	margin-top: 2em;
	margin-bottom: 2em;
}

.shorten-the-page{
	max-height: 450px;
	overflow-y: scroll;
}

button {
	border: 1px solid #ddd;
	padding: 10px;
}

footer .navbar{
	margin-bottom: 0;
}
